.hr {
  height: 3px;
  width: 100%;
  background: color-mix(in srgb, var(--text) 10%, var(--background));
}

@media screen and (min-width: 768px) {

  .project:nth-of-type(2n) {
    flex-direction: row-reverse;
  }
}