.experienceItemContainer {
  width: 90vw;
  /* max-width: 100vw; */
  max-width: 900px;
  border-left: 0.2rem solid;
  margin: 2rem 0rem 3.5rem 1rem;
  padding: 1rem 0rem 1rem 1rem;
  position: relative;
}

.position {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: 500;
}

.companyAndLocation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 40px;
}

.company {
  font-size: 1.4rem;
}

.location {
  font-size: 1.1rem;
}

.bulletPointList {
  padding: 0 1rem 0 1rem;
}

.timelineCircles {
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  position: absolute;
  border: solid 0.2rem;
  left: -0.79rem;
}

.topTimelineCircle {
  top: -1.2rem;
}

.bottomTimelineCircle {
  bottom: -1.2rem;
}

.dates {
  position: absolute;
  left: 1rem;
  font-size: 0.8rem;
  font-style: italic;
}

.enddate {
  top: -1.2rem;
}

.startdate {
  bottom: -1.25rem;
}

.educationImg {
  height: 4rem;
}

@media only screen and (max-width: 600px) {
  .position {
    font-size: 1.6rem;
  }
  .companyAndLocation {
    font-size: 1.2rem;
    padding-right: 10px;
  }
  .location {
    font-size: 1rem;
  }
  .educationImg {
    height: 3rem;
  }
}
