.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  gap: 2rem;
  min-height: 90vh;
  margin: 5rem 0 2rem 0;

  .intro {
    .intro-p {
      font-size: 1.5rem;
      margin-bottom: 3rem;
    }
  }
}

div.icons {
  display: flex;
  gap: 4rem;
}

a.iconLink {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  color: var(--text);
}

a.iconLink path {
  fill: var(--text);
  stroke: var(--background);
  transition: inherit;
}

.icons.iconScrollEffect .icon-label {
  opacity: 1;
}

a.iconLink:hover,
a.iconLink:focus {
  color: var(--primary);
}

a.iconLink:hover path,
a.iconLink:focus path {
  fill: var(--primary);
}

a.iconLink:hover .icon-label,
a.iconLink:focus .icon-label {
  opacity: 1;
}

.icon-svg {
  width: 34px;
  transition: 0.3s;
}

.icon-label {
  transition: inherit;
  opacity: 0;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header {
    margin-top: 3rem;
    flex-direction: row;
    align-items: center;

    .intro {
      max-width: 36rem;

      .icons {
        justify-content: flex-start;
      }
    }
  }
}
