* {
  box-sizing: border-box;
  font-family: "Bitter";
}

body {
  width: 100%;
  max-width: 100vw;

  margin: 0;
  color: var(--text);
  --text: #2d2f4c;
  /* --accent: #ff8666; */
  --accent: #ff5f5f;
  /* --primary: #8fb4ff; */
  --primary: #3e7eff;
  --secondary: #c9d1e5;
  --secondary-background: #f4f7ff;
  --background: #ffffff;

  background: var(--background);
}

body.dark-theme {
  --text: #ffffff;
  --background: #111821;
}

#root {
  overflow-x: hidden;
  width: inherit;
  max-width: inherit;
  overflow-y: auto;
  position: relative;

}


header,
section {
  padding: 0 1rem;
  max-width: 100vw;
}

p {
  font-size: 1.15rem;
  max-width: 36rem;
  line-height: 1.5;
}

.blurred-blob {
  position: absolute;
  width: 25rem;
  height: 25rem;
  background: color-mix(in srgb, var(--accent) 50%, var(--background));
  border-radius: 50%;
  filter: blur(100px);
  z-index: -1;

  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

h1 {
  font-weight: normal;
  font-size: 2rem;
}

.dot {
  font-size: 1.2em;
  font-weight: bolder;
  color: var(--primary);
}

.sectionHeading::after {
  display: block;
  content: "";
  width: 100px;
  height: 10px;
  background-color: var(--accent);
  position: relative;
}

.headerPicContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .blob {
    position: absolute;
    width: 75%;
    height: 75%;
    animation: blob-border-radius 20s ease-in-out infinite both alternate;
  }

  .blob.primary {
    background-color: var(--primary);
    top: 20%;
    left: 5%;
  }

  .blob.accent {
    background-color: var(--accent);
    top: 5%;
    right: -5%;
    rotate: 90deg;
  }
}

@keyframes blob-border-radius {
  0%,
  100% {
    border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
  }
  20% {
    border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%;
  }
  40% {
    border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%;
  }
  60% {
    border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%;
  }
  80% {
    border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%;
  }
}

section {
  position: relative;
  margin-bottom: 6rem;

  .container {
    max-width: 36rem;
    display: flex;
    flex-direction: column;
  }
}

section#about {
  .button {
    align-self: flex-end;
  }
}

section:last-of-type {
  margin-bottom: 400px;
}

.button {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  position: relative;
  padding: 0.8rem 1rem;
  font-size: 1.125rem;
  font-weight: bold;
  background: var(--background);
  border: 3px solid var(--primary);
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--text);
  user-select: none;
  text-decoration: none;
  font-family: "Bitter";
}

.button::after {
  content: "";
  width: 100%;
  height: 100%;
  left: 6px;
  top: 6px;
  background: rgba(0, 171, 255, 0.34);
  position: absolute;
  z-index: -1;
  border-radius: 0.5rem;
  filter: blur(2px);
  transition: 0.1s;
}

.button:hover {
  background: color-mix(in srgb, rgba(0, 171, 255, 1) 20%, var(--background));
}

.body-paragraph {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
