* {
  box-sizing: border-box;
  font-family: "Be Vietnam Pro";
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.spinnerIcon {
  animation: spinner 1.7s infinite linear;
}

.imageMargin {
  margin-bottom: 1rem;
  border: 2px solid green;
}

.screenshots {
  box-shadow: 14px 14px 24px 1px rgb(0, 0, 0, 0.2);
}

.borderRadius {
  border-radius: 10px;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
