* {
  box-sizing: border-box;
  font-family: "Be Vietnam Pro";
}

:root {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}

/* this body works for smooth scroll */
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.spinnerIcon {
  animation: spinner 1.7s infinite linear;
}

.imageMargin {
  margin-bottom: 1rem;
  border: 2px solid green;
}

.screenshots {
  box-shadow: 14px 14px 24px 1px rgb(0, 0, 0, 0.2);
}

.borderRadius {
  border-radius: 10px;
}

.waves {
  background-image: url("/svg/lightmode_waves.svg");
  /* opacity: 0.3; */
  /* background-image: url("/svg/blobs.svg"); */
  background: linear-gradient(
    135deg,
    rgba(159, 241, 254, 1) 0%,
    rgba(34, 208, 234, 1) 100%
  );
  background-size: cover;
}

.waves2 {
  background-image: url("/svg/darkmode_waves.svg");
  background-size: cover;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* HAMBURGER ICON */

.hamburgerContainer {
  display: inline-block;
  cursor: pointer;
  padding: 0;
  vertical-align: middle;
  width: 2rem;
}

.bar1,
.bar2,
.bar3 {
  width: 90%;
  height: 5px;
  margin: 4px 1px;
  transition: 0.4s;
  border-radius: 20px;
  /* background-color: black; */
}

.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-6px, -6px);
}

/* SLIDEIN/OUT ANIMATIONS */

@keyframes slideaway {
  from {
    transform: translate(0);
    opacity: 1;
  }
  to {
    transform: translate(-200px);
    opacity: 0;
  }
}

@keyframes slidein {
  from {
    transform: translate(-200px);
  }
  to {
    transform: translate(0px);
  }
}

.iconNames {
  opacity: 0;
}

.homeIconsContainer:hover .iconNames {
  opacity: 1;
}

.homeIconsContainer:hover .homeIcons {
  transform: scale(1.5);
}

@keyframes headingReveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.linkbaseIphoneRender {
  filter: drop-shadow(10px 10px 10px rgb(0, 0, 0, 0.3));
}

.iconScrollEffect .iconNames {
  /* transform: scale(1.5); */
  transition: 0.4s ease-in-out;
  opacity: 1;
}
