.projectsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 4px solid;
  /* height: 200vh; */
  /* padding: "20px 0 60px 0";
  margin: "20px 0 60px 0"; */
}

.projectsHeader {
  font-family: "Encode Sans SC", sans-serif;
  font-size: 3rem;
  border-bottom: 7px solid rgba(255, 210, 190, 1);
  margin-top: 35px;
  margin-bottom: 20px;
}
